<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fmgr.mapper.FmgreSupplierBrandMapper">
    
    <resultMap type="FmgreSupplierBrand" id="FmgreSupplierBrandResult">
        <result property="brandId"    column="brand_id"    />
        <result property="brandName"    column="brand_name"    />
        <result property="brandDetail"    column="brand_detail"    />
    </resultMap>

    <sql id="selectFmgreSupplierBrandVo">
        select brand_id, brand_name, brand_detail from fmgre_supplier_brand
    </sql>

    <select id="selectFmgreSupplierBrandList" parameterType="FmgreSupplierBrand" resultMap="FmgreSupplierBrandResult">
        <include refid="selectFmgreSupplierBrandVo"/>
        <where>  
            <if test="brandName != null  and brandName != ''"> and brand_name like concat('%', #{brandName}, '%')</if>
            <if test="brandDetail != null  and brandDetail != ''"> and brand_detail like concat('%', #{brandDetail}, '%')</if>
        </where>
    </select>
    
    <select id="selectFmgreSupplierBrandByBrandId" parameterType="Long" resultMap="FmgreSupplierBrandResult">
        <include refid="selectFmgreSupplierBrandVo"/>
        where brand_id = #{brandId}
    </select>

    <insert id="insertFmgreSupplierBrand" parameterType="FmgreSupplierBrand" useGeneratedKeys="true" keyProperty="brandId">
        insert into fmgre_supplier_brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="brandName != null">brand_name,</if>
            <if test="brandDetail != null">brand_detail,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="brandName != null">#{brandName},</if>
            <if test="brandDetail != null">#{brandDetail},</if>
         </trim>
    </insert>

    <update id="updateFmgreSupplierBrand" parameterType="FmgreSupplierBrand">
        update fmgre_supplier_brand
        <trim prefix="SET" suffixOverrides=",">
            <if test="brandName != null">brand_name = #{brandName},</if>
            <if test="brandDetail != null">brand_detail = #{brandDetail},</if>
        </trim>
        where brand_id = #{brandId}
    </update>

    <delete id="deleteFmgreSupplierBrandByBrandId" parameterType="Long">
        delete from fmgre_supplier_brand where brand_id = #{brandId}
    </delete>

    <delete id="deleteFmgreSupplierBrandByBrandIds" parameterType="String">
        delete from fmgre_supplier_brand where brand_id in 
        <foreach item="brandId" collection="array" open="(" separator="," close=")">
            #{brandId}
        </foreach>
    </delete>
</mapper>