<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.fmgr.mapper.FmgreFinancePaymentMapper">
    
    <resultMap type="FmgreFinancePayment" id="FmgreFinancePaymentResult">
        <result property="paymentId"    column="payment_id"    />
        <result property="outAccId"    column="out_acc_id"    />
        <result property="inAccId"    column="in_acc_id"    />
        <result property="userId"    column="user_id"    />
        <result property="orderId"    column="order_id"    />
        <result property="paymentComment"    column="payment_comment"    />
        <result property="paymentAmount"    column="payment_amount"    />
    </resultMap>

    <sql id="selectFmgreFinancePaymentVo">
        select payment_id, out_acc_id, in_acc_id, user_id, order_id, payment_comment, payment_amount from fmgre_finance_payment
    </sql>

    <select id="selectFmgreFinancePaymentList" parameterType="FmgreFinancePayment" resultMap="FmgreFinancePaymentResult">
        <include refid="selectFmgreFinancePaymentVo"/>
        <where>  
            <if test="outAccId != null "> and out_acc_id = #{outAccId}</if>
            <if test="inAccId != null "> and in_acc_id = #{inAccId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="orderId != null "> and order_id = #{orderId}</if>
            <if test="paymentComment != null  and paymentComment != ''"> and payment_comment = #{paymentComment}</if>
            <if test="params.beginPaymentAmount != null and params.beginPaymentAmount != '' and params.endPaymentAmount != null and params.endPaymentAmount != ''"> and payment_amount between #{params.beginPaymentAmount} and #{params.endPaymentAmount}</if>
        </where>
    </select>
    
    <select id="selectFmgreFinancePaymentByPaymentId" parameterType="Long" resultMap="FmgreFinancePaymentResult">
        <include refid="selectFmgreFinancePaymentVo"/>
        where payment_id = #{paymentId}
    </select>

    <insert id="insertFmgreFinancePayment" parameterType="FmgreFinancePayment" useGeneratedKeys="true" keyProperty="paymentId">
        insert into fmgre_finance_payment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="outAccId != null">out_acc_id,</if>
            <if test="inAccId != null">in_acc_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="orderId != null">order_id,</if>
            <if test="paymentComment != null">payment_comment,</if>
            <if test="paymentAmount != null">payment_amount,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="outAccId != null">#{outAccId},</if>
            <if test="inAccId != null">#{inAccId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="orderId != null">#{orderId},</if>
            <if test="paymentComment != null">#{paymentComment},</if>
            <if test="paymentAmount != null">#{paymentAmount},</if>
         </trim>
    </insert>

    <update id="updateFmgreFinancePayment" parameterType="FmgreFinancePayment">
        update fmgre_finance_payment
        <trim prefix="SET" suffixOverrides=",">
            <if test="outAccId != null">out_acc_id = #{outAccId},</if>
            <if test="inAccId != null">in_acc_id = #{inAccId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="orderId != null">order_id = #{orderId},</if>
            <if test="paymentComment != null">payment_comment = #{paymentComment},</if>
            <if test="paymentAmount != null">payment_amount = #{paymentAmount},</if>
        </trim>
        where payment_id = #{paymentId}
    </update>

    <delete id="deleteFmgreFinancePaymentByPaymentId" parameterType="Long">
        delete from fmgre_finance_payment where payment_id = #{paymentId}
    </delete>

    <delete id="deleteFmgreFinancePaymentByPaymentIds" parameterType="String">
        delete from fmgre_finance_payment where payment_id in 
        <foreach item="paymentId" collection="array" open="(" separator="," close=")">
            #{paymentId}
        </foreach>
    </delete>

    <select id="getPaymentAmountOutSum" parameterType="Long" resultType="BigDecimal">
        select sum(payment_amount) from fmgre_finance_payment where out_acc_id = #{accountId}
    </select>   

    <select id="getPaymentAmountInSum" parameterType="Long" resultType="BigDecimal">
        select sum(payment_amount) from fmgre_finance_payment where in_acc_id = #{accountId}
    </select>
    
</mapper>